@charset "utf-8";
/* CSS Document */
@font-face {
   font-family: 'signika';
src:url(../fonts/Signika-Regular.ttf) format('truetype');
}
@font-face {
   font-family: 'rubik';
    src:url(../fonts/Rubik-Regular.ttf) format('truetype');
}

body{font-size:14px; font-family: 'rubik';}
ul{margin:0px; padding:0px;}
/*-- top-nav--*/
/*-- banner --*/
.p-logo {
    width:45%;
    float: left;
}
.navbar-left {
    float: left !important;
    width: 30%;
}
.navbar-right{margin-top:15px;}
.slider-img{height:450px !important; width:100%;}
.banner_top{
	    background: #091e59;padding: 0em 2em;
}
.error{color:red;}
.phone_mail{
	text-align:right;
}
.phone_mail ul li{
      display: inline-block;
    padding: 4px 13px;
    border-left: 1px solid #353b3e;
    color: #fff;
    
}
.phone_mail ul li a {
    text-decoration: none;
    color: #efeaea;
}
.phone_mail ul li a:hover{
	color:#fff;
}
.phone_mail ul li i{
	/*padding-right:1em;*/font-size: 16px;
}
.phone_mail span{margin-left:8px;}
.banner_nav{
padding: .6em 2em;
	border-bottom:1px solid #fff;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    border-radius: 0;
	margin-bottom:0;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #168eea;
}
.agile_short_dropdown {
    background: #33cc99;
    border: none;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
	padding:0;
	min-width: 130px;
}
.agile_short_dropdown li a {
    color: #fff;
    font-weight: 600;
    padding: 10px 0;
}
.p_search {
       float: right;
    width: 35%;
    padding: 8px;
    border: 1px solid #091e59;
}
.p_search input[type="search"]{
	outline:none;
	color:#666;
	background:none;
	border:none;
	padding:0;
	font-size:14px;
	width:88%;
}
.p_search input[type="submit"]{
	outline: none;
    background: url(../images/search.png) no-repeat 6px 1px;
    border: none;
    padding: 0;
    width: 10%;
}
.p_search input[type="search"]::-webkit-input-placeholder{
	color:#fff !important;
}
.navbar-collapse {
    padding: 0;
}
.navbar-nav > li > a {
  padding: .6em 1em;
font-size: 14px;
margin: 0em .5em;
}

.navbar-right {
    width: 58%;
    margin-right: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #212121;
}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #212121;
    background-color: transparent;
}
.navbar-default .navbar-nav > .menu__item--current.open > a,.navbar-default .navbar-nav > .menu__item--current.open > a:focus  {
    color:#eb5424;
}
.navbar {
    min-height: 45px;
}
.navbar-nav {
    margin: 0.2em 0 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #33cc99;
}
.navbar-nav > li {
    margin: 0 2px;
}
/*-- Link-Hover-Effect --*/
.hover-effect a {
	padding: 10px;
	color: #237546; font-weight:bold;
	text-shadow: none; letter-spacing:.7px;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.hover-effect a::before, .hover-effect a::after{
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #168eea;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
}

.hover-effect a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
}

.hover-effect a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-o-transform: translateY(10px);
	-ms-transform: translateY(10px); 
	transform: translateY(10px);
} 
.hover-effect a:hover, .hover-effect a:focus {
	color: #168eea;
} 
.hover-effect a:hover::before, .hover-effect a:focus::before, .hover-effect a:hover::after, .hover-effect a:focus::after ,.hover-effect.active a::after ,.hover-effect.active a::before{
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}
/*-- //Link-Hover-Effect --*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #168eea;
    background-color: transparent;
}
/*-- //banner --*/
.about-div{padding:3em 0em;}
.about-p{width:80%; margin:auto; text-align:center;}
.tittle_head{margin:0px 0px 20px;}
h3.tittle.main {
    margin: 0 auto;
    width: 100%;
}
h3.tittle {
    color: #353b46;
    margin: 0;
    font-size: 2.7em;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;font-family: 'signika';
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
}
h3.enquiry-t {
    color: #fff;
    margin: 0;font-family: 'signika';
    font-size: 2.7em;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
}
/*----------- Products ----------*/
.product-div {
	background: #f2f2f2; padding:3em 0em;
}

.home-post {
	background:#fff;margin:10px 0px 10px;}
.max-img {width: 56%;
 margin-right: auto; height:200px;
 margin-left: auto;
 display: block;
 padding-top:20px;
}
.home-post {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.home-post .entry-content {
	padding:20px;
}
.home-post .entry-content h5 a {
	font-size:22px;
}
.home-post .entry-content h5 a:hover {
	color:#312f2b;
	text-decoration:none;
}
.home-post .entry-content a.more {
	font-size:13px;
}
.home-post .post-meta {
	padding:15px;
	overflow:hidden;
	color:#fcfcfc;
}
.home-post .post-meta i {
	float:left;
	margin-right:20px;
}
.home-post .post-meta span {
	font-size:16px;
}
.home-post .post-meta span a{color:#fff; text-decoration:none;}
.home-post .post-meta span.date {
	font-weight:700;
	font-size:13px;
	float:left;
}
.home-post .post-meta span.tags {
	font-weight:700;
	font-size:13px;
	float:right;
	color:#ddd;
}
.home-post .post-meta span.tags a {
	color:#fcfcfc;
}
.home-post .post-meta {
    background: #168eea;height: 100px;
}
.home-post .entry-content {
    padding: 20px;height: 200px;
}
.entry-content h5 {
    font-size: 18px;
    margin-bottom: 15px;
}
.entry-content p {
    line-height: 1.6em;
    margin: 0 0 10px 0;
}
.home-post .entry-content a.more {
    font-size: 14px;
color: #091e59;
font-weight: bold; text-decoration:none;
}
.view-all{  background: #091e59; color:#fff;display: inline-block;
padding:  7px 22px;
margin:8px 0px 0px 0px;
font-size: 15px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px; }
.view-all a{color:#fff;}
.view-all a:hover{color:#fff; text-decoration:none;}

/*.b-aligncenter {
    text-align: center;padding: 1.5em 0em 0em;
}*/
/*---------- services ----------------*/
.grid_info {
	text-align: center;
	padding: 2em 1em;margin-bottom: 10px;
	background: #fff;
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
	min-height: 360px;
}
.icon_info span {
	height: 90px;
	width: 90px;
	background: #fff;
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 5px solid #fafafa;
	line-height: 85px;
	font-size: 2.5em;
	color: #168eea;
}
.icon_info h5 {
	font-size: 1.4em;
	color: #333;
	margin: 1em 0;
	
}
.icon_info p {
	color: #666;
}
/*-------------------Enquiry Form -----------------*/
.enqiry-div{padding:3em 0em;background: #168eea;}
.contact-form{margin-top:0px;}
.contact-form input[type="text"]{padding: 8px 15px;
display: block;/* margin-bottom:20px;*/
width: 100%;
background-color:#fff;
border:1px solid #ccc;
outline: none;
color: #464646;
font-size: 1em;
}
.contact-form textarea{padding: 8px 15px;
display: block; margin-bottom:15px;
width: 100%;
background-color:#fff;
border:1px solid #ccc;
outline: none;
color: #464646;resize:none;
font-size: 1em;/*height: 155px;*/}
.contact-form select{padding: 8px 15px;
display: block; margin-bottom:15px;
width: 100%;
background-color:#fff;
border:1px solid #ccc;
outline: none;
color: #464646;resize:none;
font-size: 1em;}
.chosen-container-single .chosen-single {
    border: 1px solid #ccc !important;}
/*.contact-form input[type="submit"]
{padding: 7px 15px;
background-color:#091e59;
border: none;
outline: none;
color: #fff;
font-size: 1em;}*/
/*------------- footer -------------------*/
.footer-bottom{background-color:#282828; padding:1.5em 0em;}
.footer-bottom p{color:#fff; margin:0px;}
.footer-bottom a{color:#168eea;text-decoration:none;}
footer{background-color:#168eea; padding:1.5em 0em;}
footer h4 {
    color: #fff;
    
    font-size: 1.4em;
    margin-bottom: 1em;
}
footer p{color:#fff;}
ul.top-links {margin-top: 1em;}
ul.top-links li { margin-left: 5px;display: inline-block;}
ul.top-links li a i.fa.fa-facebook {background: #fff; color:#3b5998;}
ul.top-links li a i.fa.fa-google-plus {  color: #d62223; }
ul.top-links li a i.fa.fa-youtube{  color: #d62223;    }
ul.top-links li a i.fa.fa-twitter { color: #55acee; }
ul.top-links li a i.fa.fa-linkedin {color:#0077b5;}
ul.top-links li a i.fa {
    color: #000;
    background-color: #fff;
    width: 37px;
    height: 37px;
    font-size: 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    line-height: 36px;
    text-align: center;}
.f-quick-links ul li{display:block; list-style:none;}
.f-quick-links ul li a{color:#fff;text-decoration:none;}
.f-quick-links li{line-height:23px;}
.f-icon {float: left;width: 13%;}
.ftr-address {margin-bottom:10px;}
.ftr-address i {color: #fff;
border: 1px solid #fff;
line-height: 34px;
text-align: center;
font-size: 1.2em;
width: 36px;
height: 36px;
border-radius: 50px;
   /* margin-top: 24px;*/
}
.ftr-text {float: right; width: 87%;}
.ftr-text p {color: #fff; /*line-height: 2em;*/}
/*------------- Products -------------------*/
.top_bg { background: url(../images/bg-img1.jpg);
background-size: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: 240px;
padding-top: 50px;}
.top_bg h3 {
    color: #fff;font-family: 'signika';
    margin: 0px 0px 30px 0px;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 2px;
}
ul.inner-bc  {
    text-align: left;
    padding-top: 4.5em;
}
ul.inner-bc li {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 1px;
}
ul.inner-bc li a {
    color: #9ce1ff;
    text-decoration: none;
}
.services-breadcrumb ul li i {
    padding: 0 1.5em;
}
/*-------------- Services ------------------*/
.service-list {margin:0em 0em 2.5em 0em;}
.service-list h2 { margin:0px 0px 15px 0px;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #091e59;outline:none;
    text-shadow: 0 1px 0 #ffffff;
}
.service-list h2 a{color: #168eea; text-decoration:none;outline:none;}
.service-list p{font-size:15px; line-height:25px;}
.s-img-block{width:28%;padding-left: 0px;}
.s-img{width:100%; height:200px;}
.s-alignleft{padding:15px 0px 0px;}

.contact_grid {min-height: 250px;
    background: #eee;
    padding: 1em 0 2em;margin-bottom: 10px;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
}
.contact_grid_left{text-align:center;}
.contact_grid_left i {
    font-size: 3em;
    color: #091e59;
    line-height: 2em;
}
.contact_grid_left h4 {
    font-size: 1.5em;
color: #091e59;
font-weight: 600;
margin-bottom: .5em;
}
.contact_grid_left p {
   margin-bottom:0px; padding: 0px 5px;
}
.map{margin:1em 0em 0em;}
/*--------- Detail pages ------------*/
.pr-detail-grid{background-color:#fff; padding:1em;width:90%; margin:auto;box-shadow: 0px 0px 6px 0px #969696; }
.p-detail-title h4{color:#168eea;text-align:center; font-weight:700; font-size:1.7em;margin:.5em 0em 1.1em 0em;}
.p-detail {
    width: 45%;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 5px solid rgba(255, 255, 255, 0.9);
    perspective: 800px;
    box-shadow: 0px 0px 12px 0px #969696; margin:auto;

}
.p-detail-img{width:56%;/*height:400px;*/ margin:auto;}
.p-detail-info{padding:2em 3em;margin:auto;text-align:justify;}
/*-------------- client slider -----------------*/
/*--flexisel--*/
/*--gallery--*/
.flex-slider{	
	background:#222227;
	padding: 70px 0 165px 0;
}
.opportunity{
	background:#28282e;
	margin:0px 20px;
	padding:80px 0;
	position:relative;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%; padding:10px 0px;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
}
.nbs-flexisel-item {
	float: left;
	margin-right:0.1em;
    padding: 0;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer!important;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    z-index: 999;
    /*top: 105% !important;*/
}
.nbs-flexisel-nav-left::after {
    /*left: 100%;*/
  /*  background: url(../images/next.png) no-repeat 0px 0px;*/
   color:#091e59; font-size:3em;
	
	 font-family: FontAwesome;
top: 0;
font-style: normal;
margin-left:-1em;
content: "\f104";
}

.nbs-flexisel-nav-right::before {
    /*right: 100%;*/
   /* background: url(../images/back.png) no-repeat 0px 0px;*/
   color: #091e59;
font-size: 3em;
font-family: FontAwesome;
top: 0;
font-style: normal;
margin-right: 10px;
content: "\f105";
margin-left: 26em; 
}
.client-img{width:175px; height:72px;}
/*--//flexisel--*/
/*---------------- Responsive ----------------*/
@media (max-width: 1440px){
.navbar-right {width: 64%;}
}
@media (max-width:1366px){
.navbar-right {width:64%;}
.p_search {width: 32%;}
}
@media (max-width: 1280px){
.navbar-right {width: 67%;}
.slider-img {
    height: 380px !important;
    width: 100%;
}
}
@media (max-width: 1080px){
.navbar-right {width: 70%;}
.navbar-nav > li > a {margin:0px;}
.p-logo {  width: 53%;}
.slider-img {
    height: 400px !important;
    width: 100%;
}
.nbs-flexisel-nav-right::before {margin-left: 21em;}
}
@media (max-width: 1024px){
.navbar-nav > li > a {padding: .6em .7em; font-weight:normal;font-size:14px;}
.p_search {width: 35%;}
.p_search input[type="search"] {width: 85%;}
.p_search input[type="submit"] {width:12%;}
}
@media (max-width: 980px){
.p_search input[type="submit"] {width:15%;}
.p_search {width: 35%;}
.p_search input[type="search"] {width: 81%;}
.nbs-flexisel-nav-right::before {margin-left: 17em;}
.navbar-right {  width: 74%;}
.navbar-left { float: left !important;  width: 24%;}
.p-logo { width: 70%;}
.about-p { width: 100%;}
.p-detail-img {height:auto;}
.top_bg { min-height: 200px; padding-top: 20px;}
.p-detail-info { padding: 2em 0em;}
.s-img-block {
    width: 40%;
    padding-left: 0px;
    float: left;
}
}
@media (max-width: 768px){
.p_search {width: 33%;padding: 6px;}
.p-logo { width: 85%;}
.navbar-left {width: 25%;}	
.navbar-nav > li > a {padding: .6em .5em;font-weight:normal; font-size:13px;}
.navbar-right { width: 74%;}
.nbs-flexisel-nav-right::before {margin-left: 14em;}
.nbs-flexisel-nav-left::after {
margin-left:1em;}
}
@media (max-width: 767px){
	.slider-img {
    height: 350px !important;
    width: 100%;
}
	.p-logo {
    width: 20%;
}
.navbar-left {
    width: 100%;
}
	.navbar-brand {
		font-size: .8em;
	}
	.navbar-toggle {
		margin: 0.5em 0 0;
	}
	.navbar-default .navbar-toggle {
		border: none;
		background: #168eea;
		border-radius: 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		position: absolute;
		width: 100%;
		z-index: 999;
		background:#f3f3f3;
		padding:0;margin-top:3.9em;
	}
	.p_search {
		width: 45%;
		float: none;
		    margin: 0 auto 10px;
	}
	.p_search input[type="submit"] {
		width: 7%;
		background-position: 0px 5px;
	}
	.p_search input[type="search"] {
		width: 91%;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background: #168eea;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.agileits_w3layouts_banner_nav {
		padding: 0.5em 1em;
	}
	.navbar-right {
		width: 100%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}
	.navbar-nav {
		margin: 0;
		text-align:center;
	}
	.navbar-nav > li > a {
		padding: 5px 25px;
		font-size: 13px;
		display: inline-block;
	}
	.menu--iris .menu__item {
		margin:14px 0;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #33cc99;
		padding:10px 0;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
	.nbs-flexisel-container {
    max-width: 90%;margin:auto;
}
.nbs-flexisel-nav-right::before {margin-left: 12em;}
.nbs-flexisel-nav-left::after {
margin-left:-1em;}
.client-img{width:165px; height:65px;padding:0px 10px;}
}
@media(max-width:640px){
.nbs-flexisel-nav-right::before {margin-left: 12em;}
.f-icon {  width: 10%;}
.slider-img {
    height:300px !important;
    width: 100%;
}
}
@media(max-width:480px){
	.p-detail {
    width: 100%;}
.p-logo { width: 39%;}
	.slider-img {
    height: 250px !important;
    width: 100%;
}
h3.tittle {font-size:2em;}
.nbs-flexisel-nav-left::after { margin-left: -.5em;}
.nbs-flexisel-nav-right::before {
    margin-left: 8.5em;
}
.f-icon { width: 17%;}
.p_search { width: 90%;}
.p_search input[type="search"] { width: 88%;}
.p_search input[type="submit"] { width: 9%;}
.f-icon {
    width: 12%;
}
}
@media(max-width:375px){
	.p-logo { width: 40%;}
.nbs-flexisel-nav-right::before {
    margin-left: 6em;
}
.phone_mail {
    text-align: left;
}
.s-img-block {
    width: 50%;
}
.f-icon {
    width: 10%; margin-right:10px;
}
.ftr-text {
    float: right;
    width: 80%;
}
}
@media(max-width:320px){
	.p-logo { width: 58%;}
.s-banner {
    background-color: #ccc;
    height: 310px;
    width: 100%;
}
.grid figure p{font-size:.8em;}
figure.effect-dexter p { left: 28px;
     right: 29px;}
.grid figure{height:335px;}
.nbs-flexisel-nav-right::before {
    margin-left: 5.3em;
}
.ftr-text {
    float: right;
    width: 77%;
}

}